* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerBox {
  height: 250px;
}

.topRow {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  background-image: url(".github/starter_files/cat pic.jpg");
  background-size: 100%;
  
}

.row {
  display: flex;
}

.display {
  width: 300px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  background-color: rgb(230, 216, 230);
  border: solid black;
  font-size: 210%;
}

.button {
  width: 100px;
  height: 100px;
}




button {
  width: 100px;
  height: 100px;
  font-size: 210%;
  background-color: rgb(174, 136, 174);
  
  
}

#eval {
    background-image: url(".github/starter_files/cat pic.jpg");
  background-size: 100%;
  color: azure;
}

.operator {
    background-color: rgb(225, 209, 167);

}

